{
	"parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "no-shadow": "off",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all"
      }
    ],
    "import/prefer-default-export": "off",
    "no-nested-ternary": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".ts", ".tsx"] }]
  },
  "env": {
    "browser": true
  },
  "globals": {
    "chrome": false
  }
}
